# Configuración de la base de datos
DB_TYPE=mssql
DB_HOST=localhost
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_PORT=1433
DB_ENCRYPT=false

# Ruta base donde se encuentran las fichas técnicas
TECH_SHEETS_BASE_PATH=/ruta/a/fichas/tecnicas

# Puerto de la aplicación (opcional)
FRONTEND_PORT=3000
BACKEND_PORT=3001 