# Configuración del servidor
PORT=3001

# Configuración de la base de datos
DB_TYPE=mssql
DB_HOST=localhost
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_PORT=1433
DB_ENCRYPT=false

# Directorio de salida para archivos ZIP y Excel
OUTPUT_DIR=./output

# Ruta base donde se encuentran las fichas técnicas (opcional)
TECH_SHEETS_BASE_PATH=/ruta/a/fichas/tecnicas 